/*-----Hoja de estilos de bienvenida---------*/

.general {
    /*Fondo de bienvenida*/
    background-image: url("../images/fondo1.png");
    height: 650px;
    background-size: cover;
    background-repeat:no-repeat;
    margin:0px;
    
}

.barra_a{
    width: 100%;
    height: 10%;
    position: relative;
    /* bottom: 5%; */
}

.boton_mover{
    left: 85%;
    margin-top:2%;
    position: absolute;
}
.boton{
    
    border:2px solid #ffffff;
    border-radius: 20px;
    background: #ffffff00;
    padding: 11px 30px;
    color: white;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;  
    
}
.ayuda{
    left: 75%;
    margin-top:1%;
    position: absolute;
    color: white;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;  
    
}
.premium{
    left: 65%;
    margin-top:1%;
    position: absolute;
    color: white;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;  
    
}

.texto1{
    font-size: 250%;
    top: 28%;
    padding-left: 50%;
    color: #FFB800;
    font-family: 'Roboto', sans-serif;
    position: relative;   
}
.texto2{
    font-size: 150%;
    margin-top: 12.5%; /*¿por que se puede con menos -3?*/
    padding-left: 60%;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    position: relative;

}
.texto3{
    font-size: 100%;
    margin-top:-2%;
    padding-left:82%;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;  
    
}
.boton_mover2{
    left: 84%;
    position: absolute;
    
}
.boton2{
    
    border:2px solid #FFB800;
    border-radius: 20px;
    background: #FFB800;
    padding: 11px 50px;
    color: white;
    font-family: 'Roboto', sans-serif; 
    
}
.texto4{
    font-size: 100%;
    margin-top:14%;
    padding-left:82%;
    color: rgb(255, 255, 255);
    position: relative;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;  
    
}

/*Fondo de registro*/
.general2 {
    background-image: url("../images/fondo2.png");
    height: 650px;
    background-size: cover;
    background-repeat:no-repeat;
    margin:0px;
    
}
.acerca{
    left: 55%;
    margin-top:1%;
    position: absolute;
    color: white;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;  
}
.texto5{
    top: 10%;
    padding-left: 40%;
    color: #ffffff;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;  
    position: relative;
}
.registro{
    margin-left:447px;
    margin-top: 6%;
}

.registro input[type="text"],
.registro input[type="email"],
.registro input[type="password"] {
    color: #ffffff;
    max-width:600px;
    width: 200%;
    line-height:2.5em;
    background-color: #403B3B;
    margin: 12px;
    border-color: #403B3B ;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 100%;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    
}
select{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin-left:16px;
    background-color: #403B3B;
    border-color: #403B3B ;
    line-height: 2.3em;
    padding: .4em 1.4em .3em .2em;
    width: 400px;
    color: #a09c9c;
   
}
option{
    margin-left:16px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: #a09c9c;
    line-height:2.5em;
}

input{
    background-color: #403B3B;
    border-color: #403B3B ;
    line-height:2.5em;
    
}
input,
label {
    margin-left:16px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: #a09c9c;
    
    
}

.boton_mover3{
    left: 43.5%;
    margin: 12px;
    position: absolute;
}
.boton3{
    
    border:2px solid #FFB800;
    border-radius: 20px;
    background: #FFB800;
    padding: 11px 50px;
    color: white;
    font-family: 'Roboto', sans-serif; 
    
}
.texto6{
    font-size: 100%;
    margin-top:6%;
    padding-left:85%;
    color: rgb(255, 255, 255);
    position: relative;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;  
    
}

/*Fondo de Login*/
.general3 {
    background-image: url("../images/fondo3.png");
    height: 650px;
    background-size: cover;
    background-repeat:no-repeat;
    margin:0px;
    
}
.texto7{
    left: 41%;
    margin-top:18%;
    position: absolute;
    color: white;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;  
}
.login{
    margin-left:28%;
    padding-top:23%; 
}
.login input[type="text"],
.login input[type="password"] {
    color: #ffffff;
    max-width:600px;
    width: 200%;
    line-height:2.5em;
    background-color: #403B3B;
    margin: 12px;
    border-color: #403B3B ;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 100%;
}
.boton_mover4{
    left: 41%;
    margin: 12px;
    position: absolute;
}
.texto8{
    font-size: 100%;
    margin-top:14%;
    padding-left:80%;
    color: rgb(255, 255, 255);
    position: relative;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;  
    
}

/*--------HOME-----------*/
.general4 {
    background-color: #242323;
    background-size: cover;
    margin-top: 0%;
    margin-left: 0%;
     
 }
 .box{
     font-family: 'Zen Kaku Gothic Antique', sans-serif; 
     left: 77%;
     margin-top:1%;
     position: absolute;
 }
 .container-1 input#search{
     width: 300px;
     height: 50px;
     background: #242323;
     border-color: #F18500;
     font-size: 10pt;
     float: left;
     padding-left: 45px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
 }
 .container-1 input#search::-webkit-input-placeholder {
     color: #ffffff;
     font-size: 120%;
 }
 .Artistas{
     left: 69%;
     margin-top:0.6%;
     position: absolute;
     color: white;
     font-family: 'Zen Kaku Gothic Antique', sans-serif;    
 }
 .Genero{
     left: 63%;
     margin-top:0.6%;
     position: absolute;
     color: white;
     font-family: 'Zen Kaku Gothic Antique', sans-serif;    
 }
 .Canciones{
     left: 55%;
     margin-top:0.6%;
     position: absolute;
     color: white;
     font-family: 'Zen Kaku Gothic Antique', sans-serif;    
 }
 .Albums{
     left: 49%;
     margin-top:0.6%;
     position: absolute;
     color: white;
     font-family: 'Zen Kaku Gothic Antique', sans-serif;    
 }
 .Cuenta{
     left: 42%;
     margin-top:0.6%;
     position: absolute;
     color: white;
     font-family: 'Zen Kaku Gothic Antique', sans-serif;    
 } 

/*------------------------------------------------------------------------------------*/

.contenedor-menu{
    background-color: #705a21;
    width: 27%;
    padding-bottom: 40%;
    position:relative;
}
.Perfil{
    top: 220px;
    left: 43%;
    position: absolute;
    margin-top:-12%;
}
.boton-perfil{
    padding: 5px 15px;
    position: absolute;
    margin-top:125%;
    color: white;
    background-color:#FFB800;
    border:1px solid #FFB800;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    border-radius: 25px 25px 25px 25px;
}
.nom_user{
    /* left: 22%; */
    margin-top:4%;
    position: absolute;
    color: white;
    font-family: 'Heebo', sans-serif;
    width: 100%;
    text-align: center;
}
.Playlist h5{
    left: 5%; 
    margin-top:20%;
    position: absolute;
    color: #FFB800;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
.Seguidores h5{
    left: 42%;
    margin-top:20%;
    position: absolute;
    color: #FFB800;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
.Seguidos h5{
    left: 75%;
    margin-top:20%;
    position: absolute;
    color: #FFB800;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
.t1 h5{
    left: 19%; 
    margin-top:30%;
    position: absolute;
    color:white;
    font-family:'Heebo', sans-serif;
}
.t2 h5{
    left: 35%; 
    margin-top:35%;
    position: absolute;
    color: #FFB800;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
.tt1{
    position: absolute;
    margin-top:45%;
    left: 10%;
    color: white;
}
.tt2{
    position: absolute;
    margin-top:57.5%;
    left: 10%;
    color: white;
}
.tt3{
    position: absolute;
    margin-top:70%;
    left: 10%;
    color: white;
}
.tt4{
    position: absolute;
    margin-top:82.5%;
    left: 10%;
    color: white;
}
.tt5{
    position: absolute;
    margin-top:95%;
    left: 10%;
    color: white;
}
.tt6{
    position: absolute;
    margin-top:45%;
    left: 50%;
    color: white;
}
.tt7{
    position: absolute;
    margin-top:57.5%;
    left: 50.5%;
    color: white;
}
.tt8{
    position: absolute;
    margin-top:70%;
    left: 40%;
    color: white;
}
.tt9{
    position: absolute;
    margin-top:82.5%;
    left: 41%;
    color: white;
}
.tt10{
    position: absolute;
    margin-top:95%;
    left: 41%;
    color: white;
}
.tt11{
    position: absolute;
    margin-top:45%;
    left: 85%;
    color: white;
}
.tt12{
    position: absolute;
    margin-top:57.5%;
    left: 85%;
    color: white;
}
.tt13{
    position: absolute;
    margin-top:70%;
    left: 85%;
    color: white;
}
.tt14{
    position: absolute;
    margin-top:82.5%;
    left: 85%;
    color: white;
}
.tt15{
    position: absolute;
    margin-top:95%;
    left: 85%;
    color: white;
}
.Biblioteca h3{
    left: 31%;
    position: absolute;
    color: #FFB800;
    margin-top:120%;
    font-family:'Heebo', sans-serif;
}
.Cerrar-Sesion button{
    padding: 13px 50px;
    position: absolute;
    margin-top:135%;
    left: 28%;
    color: white;
    background-color:#FFB800;
    border:1px solid #FFB800;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    border-radius: 25px 25px 25px 25px;

}
#imagenes_menu{
    margin-top: 15px;
    margin-left: 135px;
    margin-right: 15px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/*------------------------------------------------------------------------------------*/
.contenedor-musica{
    background-color: #8F5611;
    width: 69%;
    position:relative;
    left: 30%;
    border-radius: 2%;
    margin-top:-46.3%;
}
.texto9{
    font-family: 'Heebo', sans-serif;
    padding-left: 50px;
    padding-top: 2px;
}
.cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;   
    margin-left:8%;
    
} 
.cards div{
    background-color:#392207 ;
    width: 22%;
    margin: 39px;
    text-align: center;
    border-radius: 4%;
}
#imagenes_musica{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 15px;
    width: 135px;
    height: 150px;
}
h5{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 80%;
    color: rgb(255, 255, 255);
    margin-right: 50px;
    margin-top: 2px;
    margin-right: 15px; 
} 