<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/Estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Heebo:wght@400;900&family=Roboto:wght@500&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Heebo:wght@400;900&family=Montserrat:wght@100&family=Mukta:wght@200;800&family=Nunito+Sans:wght@900&family=PT+Sans:ital,wght@1,700&family=Roboto:wght@400;500;700&family=Ubuntu:wght@700&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
    <title>Acerca de </title>
</head>

<body class="general5">
    <div class="APS_ayuda" onclick="location.href='/Soporte'">
        <h4>Ayuda</h4>
    </div>

    <div class="APS_premium" onclick="location.href='/Premium'">
        <h4>Premium</h4>
    </div>

    <div class="APS_acerca" onclick="location.href='/AboutUs'">
        <h4>Acerda de </h4>
    </div>

    <div class="APS_presentacion">
        <img src="../static/images/LogoMangoVertical.png" alt="MangoMsic!" width="600" height="261">
    </div>
    <div class="APS_text-1">
        <h1>La mejor musica, al alcance de tu mano</h1>
    </div>

    <div class="APS_botton-1">
        <button type="button" class="APS_button1">Registrate</button>
    </div>

    <div class="APS_botton-2">
        <button type="button" class="APS_button2">Iniciar secion</button>
    </div>

    <div class="APS_contenido">

        <div class="APS_articulo">
            <p>Tus favoritos: Guarda tus artistas, albumes y canciones en cualquier momento y accede a todos ellos de manera rapida y facil
            <br>
            Sin anuncios molestos ,Disfruta de tu musica favorita sin ninguna molesta interrupcion. Solo tú, tu musica y MangoMusic!

            </p>
        </div>
        
    </div>

    <footer class="APS_pie">
        MangoMusic TM - Todos los derechos Reservados
        <br>
        mangosupport@mango.com
    </footer>
</body>
</html>