{% extends 'Home.html' %} {% block content %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="input-artista">
    <label for="start" class="label-class">¿El artista esta verificado?:</label>

    <select name="verificacion" name="verificacion">
      <option>Selecciona una opción</option>
      <option value="True">Si</option>
      <option value="False">No</option>
    </select>

    <label for="start">Artista Musical:</label>

    <input type="text" placeholder="Nombre del Arista" name="artista"/>

    <label for="start">Seguidores:</label>

    <input type="number" placeholder="Seguidores" name="seguidores"/>

    <input id="seleccione" type="file" name="foto"/>
  

  <div class="botton-3">
    <input type="submit" class="button1" value="Enviar" />
  </div>
</form>
{% endblock %}
