{% extends 'Home.html' %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="input-perfil">

        <label for="fk_album">ID del Album</label>

        <input type="number" id="fk_album" name="fk_album"/>
        
        <label for="fk_genero">ID del Genero</label>
        
        <input type="number" id="fk_genero" name="fk_genero"/>
       
        <label for="cancion">Nombre de la Cancion</label>
        
        <input type="text" id="cancion" placeholder=" Escribe el nombre de la cancion" name="cancion"/>
        
        <label for="reproducciones">Reproducciones</label>
       
        <input type="number" id="reproducciones" name="reproducciones"/>
        
        <label for="duracion">Duracion</label>
       
        <input type="number" name="duracion"/>

        <label for="link">Link de la cancion</label>
        
        <input type="text" id="link" placeholder=" Escribe el link de la cancion" name="link"/>
        
        <div class="botton-3">
            <input type="submit" class="button1" value="Enviar">
        </div>
    </div>
</form>
{% endblock %}