{% extends 'Home.html' %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="input-perfil">

        <label for="fk_album">ID del Album</label>

        <input type="number" id="fk_album" class="form-control" name="{{form.fk_album.name}}"/>
        
        <label for="fk_genero">ID del Genero</label>
        
        <input type="number" id="fk_genero" class="form-control" name="{{form.fk_genero.name}}"/>
       
        <label for="cancion">Nombre de la Cancion</label>
        
        <input type="text" id="cancion" placeholder=" Escribe el nombre de la cancion" class="form-control" name="{{form.cancion.name}}"/>
        
        <label for="reproducciones">Reproducciones</label>
       
        <input type="number" id="reproducciones" class="form-control" name="{{form.reproducciones.name}}"/>
        
        <label for="duracion">Duracion</label>
       
        <input type="time" id="duracion" step="1" min="00:00:00.00" max="00:59:59.99" value="00:02:30.0" class="form-control" name="{{form.duracion.name}}"/>
        
        <div class="botton-3">
            <input type="submit" class="button1" value="Enviar">
        </div>
    </div>
</form>
{% endblock %}