{% extends 'Home.html' %}

{% block content %}
<div class="texto9">
    <h3>Álbumes</h3>
</div>
<div class="cards">
    <div>
        <img src="../static/images/bts2.jpg" id="imagenes_musica">
        <h5>LOVE YOURSELF: TEAR <br> 2018</h5>
    </div>
    <div>
        <img src="../static/images/Marilynmanson.jpg" id="imagenes_musica">
        <h5>Born Villain <br> 2012</h5>
    </div>
    <div>
        <img src="../static/images/paramore.jpg" id="imagenes_musica">
        <h5>All We Know Is Falling <br> 2005</h5>
    </div>
    <div>
        <img src="../static/images/bts.jpg" id="imagenes_musica">
        <h5>Most Beautiful Moment In Life 2 <br> 2015</h5>
    </div>
     <div>
        <img src="../static/images/sabino.jpg" id="imagenes_musica">
        <h5>Yo quería hacer rock <br> 2017</h5>
    </div>
    <div>
        <img src="../static/images/ed.jpg" id="imagenes_musica">
        <h5>X <br> 2014</h5>
    </div>
</div>

{% endblock %}