<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/Estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Heebo:wght@400;900&family=Roboto:wght@500&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
</head>

<body class="general">

    <div class="barra_a">
        <div class="boton_mover">
            <button type="button" class="boton" onclick="location.href = '/login'">  Inicio de sesión </button>
        </div>
    
        <div class="ayuda">
            <h4>Ayuda</h4>
        </div>
        
        <div class="premium">
            <h4>Premium</h4>
        </div>
        <div class="acerca">
            <h4>Acerda  de </h4>
        </div>
    </div>
    <div class="texto1">
        <h1>¡Sientate y Disfruta!</h1>
    </div> 
    <div class="texto2">
        <h2>la música de tus artistas favoritos</h2>
    </div> 
    <div class="texto3">
        <h3>plataforma de streaming</h3>
    </div> 
    <div class="boton_mover2">
        <button type="button" class="boton2" onclick="location.href = '/sign_in'">  Registrate </button>
    </div>
    <div class="texto4">
        <h5>Se aplican Términos y Condiciones. </h5>
    </div>
</body>
</html>