
{% extends 'Home.html' %}

{% block content %}

    <div class="input-perfil">

        <h1>Pantalla para editar el perfil</h1>
        <br>
        <input type="text" placeholder="Nombre de usuario" />
       
        <input type="text" placeholder="Apeido" />
        
        <input type="text" placeholder="Primer Nombre " />
        
        <input type="text" placeholder="Correo electronico: mangomail@mail.com" />
        
        <label for="start">País:</label>
        <select name="pais">
            <option>Selecciona una opción</option>
            <option value="Argentina">Argentina</option>
            <option value="España">España</option>
            <option value="México">México</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Honduras">Honduras</option>
            <option value="Italia">Italia</option>
            <option value="China">China</option>
            <option value="Corea del Sur">Corea del Sur</option>
        </select>
     
        <label for="start">Fecha de Nacimiento:</label>
        <input type="date" id="start" name="trip-start" value="2018-07-22" min="1950-01-01" max="2022-12-31">

        <input name="uploadedfile" type="file"  class=" seleccione"/>

        <textarea name="textarea" rows="10" cols="30" class="carga-foto">Descripción</textarea>

        <div class="botton-3">
            <button type="button" class="button1"> Enviar </button>
        </div>

    </div>
</body>
</html>

{% endblock %}