{% extends 'Home.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../../static/css/Estilos.css">
<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-sm-12 col-md-6">
            <form action="" method="post">
                {% csrf_token %}
                <label for="start">Vieja Contraseña</label>
                <div class="form group">
                    <input type="password" placeholder="Vieja Contraseña" class="form-control" name="{{form.old_password.name}}"/>
                </div>
                <label for="start">Nueva Contraseña</label>
                <div class="form group">
                    <input type="password" placeholder="Nueva Contraseña" class="form-control" name="{{form.new_password1.name}}"/>
                </div>
                <label for="start">Confirmar Nueva Contraseña</label>
                <div class="form group">
                    <input type="password" placeholder="Confirmar Nueva Contraseña" class="form-control" name="{{form.new_password2.name}}"/>
                </div>
                <br>
                <div class="botton-3">
                    <input type="submit" value="Enviar" class="button1">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}