{% extends 'Home.html' %}
{% block content %}
    <div class="menu-agregar">

        <!-- Canciones -->

        {% if model_id == 1 %}
        <div class="contenedor-menu-agregar" onclick="location.href = '/add_canciones'">
            <p>Agregar</p>
        </div>
        <div class="contenedor-editar" onclick="location.href = '/m_canciones'">
            <p>Editar o Eliminar</p>
        </div>
        {% endif %}

        <!-- Artistas -->

        {% if model_id == 2 %}
        <div class="contenedor-menu-agregar" onclick="location.href = '/add_artistas'">
            <p>Agregar</p>
        </div>
        <div class="contenedor-editar" onclick="location.href = '/m_artistas'">
            <p>Editar o Eliminar</p>
        </div>
        {% endif %}

        <!-- Albumes -->

        {% if model_id == 3 %}
        <div class="contenedor-menu-agregar" onclick="location.href = '/add_albumes'">
            <p>Agregar</p>
        </div>
        <div class="contenedor-editar" onclick="location.href = '/m_albumes'">
            <p>Editar o Eliminar</p>
        </div>
        {% endif %}

        <!-- Generos -->

        {% if model_id == 4 %}
        <div class="contenedor-menu-agregar" onclick="location.href = '/add_generos'">
            <p>Agregar</p>
        </div>
        <div class="contenedor-editar" onclick="location.href = '/m_generos'">
            <p>Editar o Eliminar</p>
        </div>
        {% endif %}
    
        
    </div>
{% endblock %}