{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/Estilos.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Heebo:wght@400;900&family=Roboto:wght@500&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap"
        rel="stylesheet">

    <title>Home</title>
</head>

<body class="general4">

    <div class="Artistas">
        <h4>Artistas</h4>
    </div>

    <div class="Genero">
        <h4>Genero</h4>
    </div>

    <div class="Canciones">
        <h4>Canciones</h4>
    </div>

    <div class="Albums">
        <h4>Albums</h4>
    </div>
    <div class="Cuenta">
        <h4>Cuenta</h4>
    </div>

    <div class="box">
        <div class="container-1">
            <input type="search" id="search" placeholder="Artistas, canciones, albums" />
        </div>
    </div>

    <div class="contenedor-menu">
        
        <!-- <img src="AQUI VA EL LOGO" id="imagenes_menu"> -->

        <!-- <div class="Foto-Perfil">
            <h4>Foto-Perfil</h4>
        </div> -->

        <div>
            <img src="{{ user.avatar.url }}" id="imagenes_menu">
        </div>

        <div class="Perfil">
            <button type="button" class="boton-perfil"> Perfil </button>
        </div>

        <div class="nom_user">
            <h2>{{user.first_name}} {{user.last_name}}</h2>
        </div>

        <div class="Playlist">
            <h5>5 Playlist Públicas</h5>
        </div>

        <div class="Seguidores">
            <h5>53 seguidores</h5>
        </div>

        <div class="Seguidos">
            <h5>13 seguidos</h5>
        </div>

        <div class="t1">
            <h5>CANCIONES PRINCIPALES DE LA SEMANA</h5>
        </div>

        <div class="t2">
            <h5>Solo tu puedes ver</h5>
        </div>

        <div class="tt1">
            <h5>1 La Magia<br>Sabino</h5>
        </div>

        <div class="tt2">
            <h5>2 Perfect<br>Ed Sheeran</h5>
        </div>

        <div class="tt3">
            <h5>3 Dionysus<br>BTS</h5>
        </div>

        <div class="tt4">
            <h5>4 Careful<br>Paramore</h5>
        </div>

        <div class="tt5">
            <h5>5 UHG!<br>BTS</h5>
        </div>

        <div class="tt6">
            <h5>Yin</h5>
        </div>

        <div class="tt7">
            <h5>+</h5>
        </div>

        <div class="tt8">
            <h5>Map Of The Soul:7</h5>
        </div>

        <div class="tt9">
            <h5>Brand New Eyes</h5>
        </div>

        <div class="tt10">
            <h5>Map Of The Soul:7</h5>
        </div>

        <div class="tt11">
            <h5>4:59</h5>
        </div>

        <div class="tt12">
            <h5>3:23</h5>
        </div>

        <div class="tt13">
            <h5>4:54</h5>
        </div>

        <div class="tt14">
            <h5>3:03</h5>
        </div>

        <div class="tt15">
            <h5>4:10</h5>
        </div>

        <div class="Biblioteca">
            <h3>||\ Tu Biblioteca</h3>
        </div>

        <div class="Cerrar-Sesion">
            <button>Cerrar Sesión</button>
        </div>

        

    </div>

    <div class="contenedor-musica">
        {% block content %}
        {% endblock %}
    </div>


</body>

</html>