<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/Estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Heebo:wght@400;900&family=Roboto:wght@500&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Heebo:wght@400;900&family=Montserrat:wght@100&family=Mukta:wght@200;800&family=Nunito+Sans:wght@900&family=PT+Sans:ital,wght@1,700&family=Roboto:wght@400;500;700&family=Ubuntu:wght@700&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
    <title>Ayuda</title>
</head>
<body class="general5">
    <div class="APS_logo" onclick="location.href='/'">
        <img src="../static/images/MangoMusicHor.png">
    </div>
    
    <div class="APS_ayuda" onclick="location.href='/Soporte'">
        <h4>Ayuda</h4>
    </div>

    <div class="APS_premium" onclick="location.href='/Premium'">
        <h4>Premium</h4>
    </div>

    <div class="APS_acerca" onclick="location.href='/AboutUs'">
        <h4>Acerda de </h4>
    </div>


    <div class="APS_contenido-3">

        <div class="APS_busquedaSoporte">
            <button><img src="../static/images/buscar.png"></button>
            <input type="text" placeholder="¿En que podemos ayudarte?">
        </div>
    </div>
    <div class="APS_contenido-4">
        <div>
            <a href="">
                <img src="../static/images/SupTutorial.png">
                Guia Basica: MangoMusic
            </a>
        </div>
        <div>
            <a href="">
                <img src="../static/images/supSeguridad.png">
                Seguridad e Informacion de cuenta
            </a>
        </div>
        <div>
            <a href="">
                <img src="../static/images/SupListas.png">
                Guia: Listas de Reproduccion
            </a>
        </div>
        <div>
            <a href="">
                <img src="../static/images/SupPremium.png">
                Premium
            </a>
        </div>
        <div>
            <a href="">
                <img src="../static/images/SupRegalo.png">
                Regalar premium
            </a>
        </div>
        <div>
            <a href="">
                <img src="../static/images/SupPromos.png">
                Promociones
            </a>
        </div>
    </div>


    <footer class="APS_pie">
        MangoMusic TM - Todos los derechos Reservados
        <br>
        mangosupport@mango.com

    </footer>

    
</body>
</html>